{% extends "ProyectoEmpresaApp/base.html" %}

{% load static %}
    
{% block content %}


  {% for producto in productos %}

  <section class="page-section clearfix">
    <div class="container" style="margin-left: 130;">
      <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{producto.imagen.url}}" alt="" style="max-width: 380; height: 280; margin-left: 290;">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded" style="width: 522; max-height: 220;">
              <h2 class="section-heading mb-4" >
                <span class="section-heading-lower">{{producto.nombre}}</span>
                <span class="section-heading-upper">Valor: $ {{producto.precio}}</span>
              </h2>
            </div>
          </div>
        </div>
    </section>

  {% endfor %}

  <section>
    <div style="width: 75%; color: white; margin: auto; text-align: center;">
      Categorias: &nbsp;
        {{ categoria.nombre }}
      
    </div>
  </section>


{% endblock %}

